<!DOCTYPE html>

<html lang="">

<head>
<title>PHB 2</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link rel="icon" type="image/png" href="images/icon/phb.png">
</head>
<body id="top">
  
</div>

<div class="bgded overlay" style="background-image:url('images/bgatas.jpeg');">
  <div id="pageintro" class="hoc clear"> 
   
    <article>
      <h3 class="heading">Tobias Justin</h3> <img src="images/icon/love.png">  <h3 class="heading">Sisca Kohl</h3>
      
      <!--<footer><a class="btn" href="#">Tristique vehicula</a></footer>-->
    </article>
      
        
      
    <script>
      // Mengatur waktu akhir perhitungan mundur
      var countDownDate = new Date("Oct 28, 2022 15:37:25").getTime();
  
      // Memperbarui hitungan mundur setiap 1 detik
      var x = setInterval(function() {
  
      // Untuk mendapatkan tanggal dan waktu hari ini
      var now = new Date().getTime();
    
      // Temukan jarak antara sekarang dan tanggal hitung mundur
      var distance = countDownDate - now;
    
      // Perhitungan waktu untuk hari, jam, menit dan detik
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Keluarkan hasil dalam elemen dengan id = "demo"
      document.getElementById("demo").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
    
      // Jika hitungan mundur selesai, tulis beberapa teks 
      if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "Acara Sedang Dimulai";
        }
      }, 1000);
    </script>
  </div>
</div>

  



<section id="about" class="about">
  <div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2 style="text-align:center">Assalamualaikum!</h2>
          <div class="warnatext"
					  <h3>Jum'at, 28 Oktober 2022 Tegal, Jawa Tengah</h3>
          </div>
					<p style="text-align:center">Akad Nikah Kami</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="images/pengantin/pria.jpeg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Tobias Justin</h3>
						<p>Putra dari Bapak Karl Justin & Ibu Cristina Wijaya</p>
					</div>
				</div>
				
				<div class="couple-half">
					<div class="bride">
						<img src="images/pengantin/wanita.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Sisca Kohl</h3>
						<p>Putri dari Bapak Johannes Kohl & Ibu Clarista Jesica Kohl</p>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="container" data-aos="fade-up">

    <div class="tentang-kita">
      <p>Preweding</p>
      
        <img src="images/preweding/preweding2.jpeg" class="img-fluid rounded-4 mb-4" alt="">
      
      
        <img src="images/preweding/preweding3.jpeg" class="img-fluid rounded-4 mb-4" alt="">
       
      
        <img src="images/preweding/preweding4.jpeg" class="img-fluid rounded-4 mb-4" alt="">
      
      
        <img src="images/weding/weding1.jpeg" class="img-fluid rounded-4 mb-4" alt="">
      
      
        <img src="images/weding/weding2.png" class="img-fluid rounded-4 mb-4" alt="">
        
      
        <img src="images/weding/weding3.jpeg" class="img-fluid rounded-4 mb-4" alt="">
      
    </div>

    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="cerita-kita">
          <div class="position-relative mt-4">
            <img src="assets/img/weding/weding4.jpeg" class="img-fluid rounded-4" alt="">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
<!--Bagian Body Ketiga-->

<div class="wrapper gradient">
  <div class="hoc container clear"> 
    
    <div class="sectiontitle">
      
      <h2 class="heading font-x2">Denah Lokasi</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1777.8594333798867!2d109.14464644974795!3d-6.870106961336372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6fbfcb9d0bfb8f%3A0x6d0465b97b0034a5!2sPolytechnic%20Of%20Road%20Transportation%20Safety!5e0!3m2!1sen!2sid!4v1665374671145!5m2!1sen!2sid"
		 		width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    
  </div>
</div>

<div id="fh5co-testimonial">
  <div class="container" id="keutamaan">
    <div class="row">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <div class="menikah">
            <h2 style="text-align:center" >Keutamaan Menikah</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 animate-box">
          <div class="wrap-testimony">
            <div class="owl-carousel-fullwidth">
              <div class="item">
                <div class="testimony-slide active text-center">
                  <figure>
                    <img src="images/nikah.png" alt="user">
                  </figure>
                  <span>Allah Berfirman:</span>
                  
                    <p>“Dan segala sesuatu Kami Ciptakan Berpasang-pasangan supaya kamu mengingat kebesaran Allah.”(QS Az-Zariyat: 49)</p>
                  
                </div>
              </div>

              <div class="item">
                <div class="testimony-slide active text-center">
                  <figure>
                    <img src="images/nikah.png" alt="user">
                  </figure>
                  <span>Allah Berfirman:</span>
                  
                    <p>“Bagaimana kamu akan mengambilnya kembali, padahal sebagian kamu telah bergaul (bercampur) dengan yang lain sebagai suami-isteri. Dan mereka (isteri-isterimu) telah mengambil dari kamu perjanjian yang kuat.” (QS An-Nisa: 21)</p>
                  
                </div>
              </div>
              <div class="item">
                <div class="testimony-slide active text-center">
                  <figure>
                    <img src="images/nikah.png" alt="user">
                  </figure>
                  <span>Rasulullah SAW bersabda:</span>
                  
                    <p>“Siapa yang ingin bertemu Allah dalam keadaan suci dan disucikan, maka menikahlah dengan perempuan-perempuan merdeka.” (HR Ibnu Majah)</p>
                  
                </div>
              </div>
              <div class="item">
                <div class="testimony-slide active text-center">
                  <figure>
                    <img src="images/nikah.png" alt="user">
                  </figure>
                  <span>Rasulullah SAW bersabda:</span>
                  
                    <p> “Siapa yang menikah maka sungguh ia telah diberi setengahnya ibadah.” (HR Abu Ya’la)</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    
    <p class="fl_left">Copyright &copy; PHB WO and Team <!--<a href="#">Domain Name</a></p>-->
    
    
  </div>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
<!-- Homepage specific -->
<script src="layout/scripts/jquery.easypiechart.min.js"></script>
<!-- / Homepage specific -->
</body>
</html>