

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>PHB 3</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      

      <link href="images/icon/phb.png" rel="icon">
      <link href="images/icon/phb.png" rel="apple-touch-icon">
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div  class="head_top">
            
            <!-- end header -->
            <!-- banner -->
            <section class="banner_main">
               <div class="container">
                  <div class="row d_flex">
                     <div class="col-md-12">
                        <div class="text-bg">
                           <h3 class="nama-heading">Okky</h3> <img src="images/icon/love.png">  <h3 class="nama-heading">Intan</h3>
                           <!--<h1>Landing Page 2019</h1>-->
                           <!--<a href="#">Read More</a>-->
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </header>
      <!-- end banner -->
      <!-- weare -->  <!---Edit Disini-->
      <!--<div class="weare">-->
      <section id="weare" class="weare"> <!--Yang diubah untuk coba coba-->
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Who We Are</h2>
                     <figure><img src="images/preweding/preweding2.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>
                     <figure><img src="images/preweding/preweding3.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>
                     <figure><img src="images/preweding/preweding4.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>
                     <figure><img src="images/preweding/preweding5.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>
                     <figure><img src="images/preweding/preweding.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>
                     
                  </div>
               </div>
            </div>
            <div class="row">
               
                  <!--<figure><img src="images/preweding/preweding2.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>
                  <figure><img src="images/preweding/preweding3.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>
                  <figure><img src="images/preweding/preweding4.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>
                  <figure><img src="images/preweding/preweding5.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>
                  <figure><img src="images/preweding/preweding.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>-->
                  <!--<figure><img src="images/weding/weding1.jpeg" class="img-fluid rounded-4 mb-4" alt=""></figure>
                  <figure><img src="images/weding/weding2.png" class="img-fluid rounded-4 mb-4" alt=""></figure>-->
               
              
               <!--<div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-6 margin_boo">
                        <div class="weare_box ">
                           <figure><img src="images/pengantin/pengantin-pria.jpeg" alt="#"/></figure>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="weare_box">
                           <figure><img src="images/pengantin/pengantin-wanita.jpeg" alt="#"/></figure>
                        </div>
                     </div>
                  </div>
               </div>-->
               
            </div>
         </div>
      </section><!--</div>-->
      <!-- weare -->
      <!-- Our
      <div id="" class="Our">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Planning Includes</h2>
                     <span>We are glad to provide these services for your wedding with perfect planning.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="Our_box">
                     <i><img src="images/plan1.png" alt="#"/></i>
                     <h4>FLOWER DECORATIONS</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t dolor in reprehenderit in voluptate velit</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="Our_box">
                     <i><img src="images/plan2.png" alt="#"/></i>
                     <h4>BEST RESTAURANT</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t dolor in reprehenderit in voluptate velit</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="Our_box">
                     <i><img src="images/plan3.png" alt="#"/></i>
                     <h4>HONEYMOON</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t dolor in reprehenderit in voluptate velit</p>
                  </div>
               </div>
               <div class="col-md-12">
                  dikomen <a class="read_more" href="#">Read more</a>
               </div>
            </div>
         </div>
      </div>
      end Our -->
      <!-- regist -->
      <div id="regist" class="regist">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Undangan Pernikahan</h2>
                     <span>بِسْمِ اللّهِ الرَّحْمَنِ الرَّحِيْ</span>
                     <div class="pembukaan-undangan">
                        <p>Assalamualaikum Warahmatullahi Wabarakatuh</p>


                      <p>Dengan Memohon Rahmat dan Ridho Allah SWT,
                        Kami Bermaksud Menyelenggarakan Resepsi Pernikahan Putra
                        Putri Kami
                      </p>
                     </div>
                     <div class="pengantin-pria">
                        <h1>Okky Rizal Widjaja</h1>
                     </div>
                     
                     <div class="dan">
                      <!--<img src="images/icon/dan.png">-->
                      <h5>&</h5>
                     </div>

                     <div class="pengantin-wanita">
                        <h1>Intan Tri Ambarwati</h1>
                     </div>
                     
                     <div class="undangan-resepsi">
                        <p>Yang InsyaAllah Akan Diselenggarakan Pada</p>
                        <h1>Hari:               Minggu</h1>
                        <h1>Tanggal:            08 Juli 2022</h1>
                        <h1>Tempat:             Rumdin Duren Tiga, Jakarta Selatan, DKI Jakarta</h1>
                        <h1>Pukul:              17.00 WIB</h1>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
         <!--div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <form class="main_form">
                     <div class="row">
                        <div class="col-md-6 ">
                           <input class="contactus" placeholder="First Nmae" type="text" name="First Nmae">
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Last Name" type="text" name=" Last Name">
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Email Address" type="text" name="Email Address">
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Date of The Event " type="text" name="Date of The Event ">
                        </div>
                        <div class="col-sm-12">
                           <button class="register">Register Now</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>-->
      </div>
      <!-- end regist -->
      <!-- testimonial -->
      <!--Slider Gambar-->

      <!--<div class="slider">
         <span id="slide-1"></span>
         <span id="slide-2"></span>
         <span id="slide-3"></span>
         <div class="image-container">
           <img src="/images/preweding/preweeding.jpeg" class="slide" width="500" height="300" />
           <img src="/images/preweding/preweding2.jpeg" class="slide" width="500" height="300" />
           <img src="/images/preweding/preweding3.jpeg" class="slide" width="500" height="300" />
           
         </div>
         <div class="buttons">
           <a href="#slide-1"></a>
           <a href="#slide-2"></a>
           <a href="#slide-3"></a>
         </div>
       </div>
   <style>
         .slider {
           width: 500px;
           height: 300px;
           background-color: yellow;
           margin-left: auto;
           margin-right: auto;
           margin-top: 0px;
           text-align: center;
           overflow: hidden;
         }
         .image-container {
           width: 1500px;
           background-color: pink;
           height: 300px;
           clear: both;
           position: relative;
           -webkit-transition: left 2s;
           -moz-transition: left 2s;
           -o-transition: left 2s;
           transition: left 2s;
         }
         .slide {
           float: left;
           margin: 0px;
           padding: 0px;
           position: relative;
         }
         #slide-1:target ~ .image-container {
           left: 0px;
         }
         #slide-2:target ~ .image-container {
           left: -500px;
         }
         #slide-3:target ~ .image-container {
           left: -1000px;
         }
         .buttons {
           position: relative;
           top: -20px;
         }
         .buttons a {
           display: inline-block;
           height: 15px;
           width: 15px;
           border-radius: 50px;
           background-color: lightgreen;
         }
       </style>--> <!--End Off Slider Gambar 1-->

      <!--<section id="clients" class="clients">
         <div class="container" data-aos="zoom-out"> 
   
           <div class="clients-slider swiper">
             <div class="swiper-wrapper align-items-center">
               <div class="swiper-slide"><img src="images/preweding/preweeding.jpeg" style="width:100px;height:150px;"class="img-fluid" alt=""></div>
               <div class="swiper-slide"><img src="images/preweding/preweding2.jpeg" style="width:100px;height:150px;"class="img-fluid" alt=""></div>
               <div class="swiper-slide"><img src="images/preweding/preweding3.jpeg" style="width:100px;height:150px;"class="img-fluid" alt=""></div>
               <div class="swiper-slide"><img src="images/preweding/preweding4.jpeg" style="width:100px;height:150px;"class="img-fluid" alt=""></div>
               <div class="swiper-slide"><img src="images/preweding/preweding5.jpeg" style="width:100px;height:150px;"class="img-fluid" alt=""></div>
               <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
               <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
               <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
             </div>
           </div>
   
         </div>
       </section>End Clients Section -->
      <div class="testimonial">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Denah Lokasi</h2>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1777.8594333798867!2d109.14464644974795!3d-6.870106961336372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6fbfcb9d0bfb8f%3A0x6d0465b97b0034a5!2sPolytechnic%20Of%20Road%20Transportation%20Safety!5e0!3m2!1sen!2sid!4v1665374671145!5m2!1sen!2sid"
                     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
               </div>
            </div>
            <!--<div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div  class="col-md-6">
                                    (Komenan)Edit disini   <div class="test_box">
                                          <div class="jons">
                                             <i><img src="images/jons_img1.png" alt="#"/></i>
                                             <h4>Jonson Donat</h4>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe</p>
                                       </div> (--Komenan)
                                    </div>
                                    <div  class="col-md-6">
                                       <div class="test_box">
                                          <div class="jons">
                                             <i><img src="images/jons_img2.png" alt="#"/></i>
                                             <h4>Jonson Donat</h4>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div  class="col-md-6">
                                       <div class="test_box">
                                          <div class="jons">
                                             <i><img src="images/jons_img1.png" alt="#"/></i>
                                             <h4>Jonson Donat</h4>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe</p>
                                       </div>
                                    </div>
                                    <div  class="col-md-6">
                                       <div class="test_box">
                                          <div class="jons">
                                             <i><img src="images/jons_img2.png" alt="#"/></i>
                                             <h4>Jonson Donat</h4>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div  class="col-md-6">
                                       <div class="test_box">
                                          <div class="jons">
                                             <i><img src="images/jons_img1.png" alt="#"/></i>
                                             <h4>Jonson Donat</h4>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe</p>
                                       </div>
                                    </div>
                                    <div  class="col-md-6">
                                       <div class="test_box">
                                          <div class="jons">
                                             <i><img src="images/jons_img2.png" alt="#"/></i>
                                             <h4>Jonson Donat</h4>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>-->
         </div>
      </div>
      <!--end testimonial -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <div class="cont">
                        
                        <h1> <strong class="multi"> Merupakan suatu kehormatan dan kebanggaan bagi kami apabila
                           Bapak/Ibu/Saudara/i berkenan hadir untuk memberikan do'a restu kepada kedua mempelai.
                           </strong><br>
                           
                        </h1>
                        
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <!--<p>Copyright by PHB WO & Team</p>-->
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wrapper row5">
            <div id="copyright" class="hoc clear"> 
              <p class="fl_left">Copyright &copy; PHB WO and Team 2022<a href="#"></a></p>
            </div>
          </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

