<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>blessed</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      
    </head>
    <!--Bagian Body-->
    <body class="main-layout">
        <!--loader-->
        <div class="loader_bg">
            <div class="loader"><img src="images/loading.gif" alt="#" /></div>
         </div>
        <!--end loader-->
        <!--bagian header-->
        <header>
            <section id="head_top">
                <section class="banner_main">
                    <div class="col-md-12">
                        <div class="text-bg">
                            <span>Love Wedding Couple Blablabla</span>
                            <h1>Landing page 2019</h1>
                        </div>
                    </div>
                </section>
            </section>
        </header>

        <section id="weare" class="weare"> <!--Yang diubah untuk coba coba-->
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <h2>Who We Are</h2>
                        <span>d to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum gener</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <div class="row">
                        <div class="col-md-6 margin_boo">
                           <div class="weare_box ">
                              <figure><img src="images/weare_img1.png" alt="#"/></figure>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="weare_box">
                              <figure><img src="images/weare_img2.png" alt="#"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="weare_box">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat pre</p>
                        <a class="read_more" href="#">Read more</a>
                     </div>
                  </div>
               </div>
            </div>
        </section><!--</div>-->
        
        <!--Our-->
        <section id="" class="Our">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Our Planning</h2>
                        <span>We are bla bla bla</span>
                    </div>
                </div>
            </div>
        </section>